
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="/public/main.css"></link>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/gh/flatiron/director/build/director.min.js">
    </script>

    <script src="/static/bundle.js"></script>
  </body>
</html>
